<!--=== 控制台 开始 ===-->
<div class="templatemo-content-wrapper">
    <div class="templatemo-content">
        <ol class="breadcrumb">
            <li>控制台</li>
            <li class="active">设置</li>
        </ol>
        <h4>控制台作用</h4>

        <div class="row m-top-30">
            <!--=== 管理中心 开始 ===-->
            <div class="col-md-12 plan_area">
                <label>显示一些通知或者汇总信息</label>
                <div>
                    <div class="plan_div">
                        <label> 待开发一个设置界面, 设置数据版本指定, 显示一些图表 等等功能。</label>
                    </div>
                </div>
            </div>
            <!--=== 管理中心 结束 ===-->
        </div>
    </div>
</div>
<!--=== 控制台 结束 ===-->