<!-- 登录界面 开始 -->
<div class="form-horizontal templatemo-signin-form">
    <div class="area">
        <div class="title">
            <h3>登录</h3>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <label class="col-sm-2 control-label">邮箱</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="username" name="username" placeholder="请输入Email地址">
                    <em for="email" class="msg"></em>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <label class="col-sm-2 control-label">密码</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="password" name="password" placeholder="请输入密码">
                    <em for="Pwd" class="msg"></em>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12 login-btn">
                <div class="col-sm-offset-4 col-sm-10">
                    <input type="button" value="登录" class="btn btn-default" id="btnLogin">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 登录界面 结束 -->