<!--=== 帐号管理 开始 ===-->
<div class="templatemo-content-wrapper">
    <div class="templatemo-content">
        <ol class="breadcrumb">
            <li class="active">用户管理</li>
        </ol>
        <h4>用户管理</h4>
        <p>通过用户基本信息管理，系统维护人员可以管理用户的账号、已通过还是已拒绝或待审核等状态。</p>

        <div class="row m-top-30">
            <!--=== 用户管理列表 开始  ===-->
            <div class="col-md-12">
                <label>用户管理</label>
                <div class="btn-group pull-right" id="templatemo_sort_btn">
                    <a class="btn btn-default" href="edit.html?parameter=new">新增用户</a>
                </div>
                <div id="accounts-list">
                    <script id="j-accounts-list" type="text/html">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover table-bordered">
                                <thead>
                                <tr>
                                    <th>邮箱地址</th>
                                    <th>用户名称</th>
                                    <th>联系电话</th>
                                    <th>注册时间</th>
                                    <th>状态</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <% if (data.length > 0) { %>
                                    <%for(i = 0; i < data.length; i ++) {%>
                                    <% var d = data[i]; %>
                                    <tr>
                                        <td><%=d.username%></td>
                                        <td><%=d.name%></td>
                                        <td><%=d.tel%></td>
                                        <td><%=dateFormat(d.time, 'yyyy-MM-dd hh:mm:ss')%></td>
                                        <td><% if (d.status == '0') { %>待审核<%} else if (d.status == '1') { %>已通过<%} else if (d.status == '2') { %>已拒绝<%}%></td>
                                        <td>
                                            <a href="edit.html?parameter=view&id=<%=d._id%>" class="btn btn-default btn-xs">
                                                <span class="glyphicon glyphicon-share-alt"></span>
                                                查看
                                            </a>
                                            <a href="edit.html?parameter=modify&id=<%=d._id%>" class="btn btn-default btn-xs">
                                                <span class="glyphicon glyphicon-edit"></span>
                                                修改
                                            </a>
                                            <button type="button" class="btn btn-default btn-xs delete-btn" onclick="deleteAccount('<%=d._id%>')">
                                                <span class="glyphicon glyphicon-remove"></span>
                                                删除
                                            </button>
                                        </td>
                                    </tr>
                                    <%}%>
                                    <%} else { %>
                                    <tr class="not_data_t">
                                        <img src="/common/img/nodata.png" alt="">
                                        <span>暂无数据</span>
                                    </tr>
                                    <%}%>
                                </tbody>
                            </table>
                        </div>
                        <div class="inline pull-right page">
                            <%=total%> 条记录 <%=page%>/<%=totalPage%> 页
                            <%if(totalPage > 1) {%>
                            <%if(page > 1) {%>
                            <a id="begin-page" href="#" onclick="paginationData(1)">首页</a>
                            <a id="previous-page" href="#" onclick="paginationData('previous')">上一页</a>
                            <%}%>
                            <%if(page < totalPage) {%>
                            <a id="next-page" href="#" onclick="paginationData('next')">下一页</a>
                            <a id="end-page" href="#" onclick="paginationData(<%=totalPage%>)">最后一页</a>
                            <%}%>
                            <%}%>
                        </div>
                    </script>
                </div>
            </div>
            <!--=== 用户管理列表 结束 ===-->
        </div>

    </div>
</div>
<!--=== 帐号管理 结束 ===-->

<script>
    var currentPage = 1

    $(function () {
        // 请求用户信息接口
        findAccounts()
    })

    // 请求用户信息接口
    function findAccounts() {
        var formData = {}

        var limit = 20
        $.ajax({
            url: globalApiUrl + '/api/account/find.html',
            contentType: 'application/x-www-form-urlencoded',
            type: 'post',
            data: {
                data: JSON.stringify(formData),
                page: (currentPage - 1),// 下标从0 开始
                limit: limit
            },
            dataType: 'json',
            beforeSend: function () {
                // 请求前
                setLoading('正在查找中, 请稍候...')
            },
            complete: function () {
                // 请求后
                hideLoading()
            },
            success: function (response) {
                // 响应成功
                if(response.state == 1) {
                    showMessage(response.message)
                    response.page = currentPage
                    response.total = response.total == undefined ? 0 : response.total
                    var totalPage = Math.round(response.total / limit)
                    response.totalPage = isNaN(totalPage) || totalPage <= 0 ? 1 : totalPage
                    var html = template('j-accounts-list', response)
                    $('#accounts-list').html(html)
                }else {
                    // TODO 正常响应, 但服务器返回错误时, 额外操作处理
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.error(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText)
                showMessage('抱歉, 请求服务器失败[ref:' + xhr.statusText + ']', 1)
            }
        })
    }


    //确定删除该用户
    var deleteAccount = function (id) {
            layer.open({
                content: '确定删除该用户吗?',
                btn: ['确定', '取消'],
                shadeClose: false,
                shade: 0.8,
                contentType: 'multipart/form-data|related',
                yes: function () {
                    $.ajax({
                        url: globalApiUrl + '/api/account/delete.html',
                        contentType: 'application/x-www-form-urlencoded',
                        type: 'post',
                        data: {
                            data: '[ "' + id + '"]'
                        },
                        dataType: 'json',
                        beforeSend: function () {
                            // 请求前
                            setLoading('正在删除中, 请稍候...')
                        },
                        complete: function () {
                            // 请求后
                            hideLoading()
                        },
                        success: function (response) {
                            // 响应成功
                            showMessage(response.message)
                            // 请求用户信息接口
                            findAccounts()
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            console.error(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText)
                        }
                    })
                },
                no: function () {
                }
            });
        }

    // 数据分页, 控制页码功能
    var paginationData = function (page) {
        if (page == 'previous') {
            currentPage--
        } else if (page == 'next') {
            currentPage++
        } else {
            currentPage = page
        }
        findRecords()
    }
</script>